

<body>
    <h3 class="display-4">Predict Whether Having Above 50K Income or Below per Year</h1>
            <form  method="POST"  action="{{ url_for('prediction') }}">
                {{ form.hidden_tag }}
                {{form.csrf_token()}}
                {{session['Age']}}
                <br>{{ form.age.label }}</br>
                {{ form.age(size=20) }}
                {{ form.workclass.label }}
                {{ form.workclass }}
                {{ form.fnlwgt.label }}
                {{ form.fnlwgt }}
                {{ form.education.label }}
                {{ form.education }}
                {{ form.education_num.label }}
                {{ form.education_num }}
                {{ form.marital_status.label }}
                {{ form.marital_status }}
                {{ form.occupation.label }}
                {{ form.occupation }}
                {{ form.relationship.label }}
                {{ form.relationship }}
                {{ form.sex.label }}
                {{ form.sex }}
                {{ form.race.label }}
                {{ form.race }}
                {{ form.capital_gain.label }}
                {{ form.capital_gain }}
                {{ form.capital_loss.label }}
                {{ form.capital_loss }}
                {{ form.hours_per_week.label }}
                {{ form.hours_per_week }}
                {{ form.native_country.label }}
                {{ form.native_country }}
                {{ form.predict() }}
            </form>    
</body>
 
                                
</html>